.container.contents {
    overflow: hidden;
}

#contents {
}

/*教会とは*/
.church1 .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.church1 article {
    padding: 3rem 0;
}

.church1 article div {
    color: #f76707;
    font-size: 2rem;
    font-family: "BIZ UDPMincho", "Noto Sans JP", sans-serif;
    margin-bottom: 1rem;
}

.church1 article p {
    font-size: 1.3rem;
}

.church1 .line {
    width: 100%;
    height: 1px;
    background: #dee2e6;
}

/*水戸バプテスト教会について*/
.church2 {
    font-size: 1.1rem;
}

/*礼拝・定期集会案内*/
.church3 article {
    padding-bottom: 4rem;
}

.church3 .ar1 .area {
    width: 100%;
    padding: 4rem;
    position: relative;
    background: #000;
    border-radius: 1.5rem;
    overflow: hidden;
}

.church3 .ar1 .area .img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url('/public/church03_01.jpg') no-repeat center 10%;
    background-size: cover;
    opacity: 0.4;
}

.church3 .ar1 .area p {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-family: "BIZ UDPMincho", "Noto Sans JP", sans-serif;
    margin-bottom: 0;
}

.church3 .title-custom {
    font-family: "Zen Antique Soft", "Noto Sans JP", sans-serif;
    font-size: calc(1.325rem + .9vw);
    margin-bottom: 1rem;
}
  
.church3 .title-custom .line {
    width: 5rem;
    height: 1px;
    background: #222;
}

@media (min-width: 1200px) {
    .church3 .title-custom {
        font-size: 2rem;
    }
}
  
@media (max-width: 768px) {
    .church3 .title-custom {
      flex-direction: column;
    }
    .church3 .title-custom .line {
      display: block !important;
      margin: 1rem 0 0.5rem 0;
    }
}

/*礼拝メッセージ*/
.message1 .cards h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.message1 .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.message1.detail .line {
    width: 100%;
    height: 1px;
    background: #e9ecef;
    margin-bottom: 2rem;
}