/* footer.css */

/* フッター全体設定 */
#footer {
    color: #fff;
    margin-top: 4rem;
    overflow: hidden;
  }
  
  /* タイトル */
  #footer .tit {
    margin: 2rem 0;
    font-size: 1.3rem;
  }
  
  /* スパン要素（TEL/FAX） */
  #footer span {
    margin: 0 1rem;
  }
  
  /* 太字（bタグ） */
  #footer b {
    margin-right: 0.5rem;
  }
  
  /* メールリンク */
  #footer a {
    color: #dee2e6;
  }
  
  /* 注意書きテキスト */
  #footer .text {
    font-size: 0.8rem;
  }
  