/* header.css */

/* ヘッダー全体設定 */
#header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* ナビゲーションバー */
#header .navbar {
  margin: 0 auto;
  height: 120px;
  background: linear-gradient(180deg, #ffffff, transparent);
}

/* ロゴスタイル */
#header .navbar .logo {
  font-family: "Zen Antique Soft", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ナビゲーションメニューアイテム */
#header .navbar .navbar-nav .nav-item {
  margin: 0 0.5rem;
}

/* ナビゲーションメニューリンク */
#header .navbar .navbar-nav .nav-item a {
  letter-spacing: -0.05rem;
  font-weight: 600;
}

/* サブヘッダー（必要なら追加） */
#sub_header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#sub_header .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('/public/main01_1.png') no-repeat center;
  background-size: cover;
}

/* サブヘッダー内テキスト */
#sub_header p {
  margin-top: 90px;
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

@media (min-width: 1200px) {
  #left li a {
    margin: 0.2rem 0;
  }
}
