body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
  }
  
  .form-container {
    max-width: 400px;
    margin: 200px auto 120px auto;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
.btn-submit {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
}
  
.link-group {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    font-size: 0.9rem;
}

.login .form-label {
  width: 100%;
}
  
.login .btn-secondary {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 12px;
}

.login .link-group {
  margin-top: 20px;
}